/* header */
*{
    padding: 0;
    margin: 0;
    list-style: none;
}
/*平板直*/
/* @media screen and (min-width:768px){

} */
/*平板橫*/
/* @media screen and (min-width:992px){

} */
/*桌機*/
/* @media screen and (min-width:1200px){

} */
/* .view{
    width: 1200;
} */

/*手機*/


.area{
    margin-left: 10px;
    margin-right: 10px;
} 

/* doticon */
#doticon{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #2fb0e4;
    margin-left: 10px;
}
#doticon .dot{
    width: 60px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 29px;
    
}
#doticon span{
    width:8px;
    height: 8px;
    display: block;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    font-weight: 900;
    border-radius: 50%;
}
#doticon span:first-child{
    transform: translateX(-15px);
}
#doticon span:last-child{
    transform: translateX(15px);
}

/* msgicon */
#msgicon{
    position: fixed;
    font-size: 60px;
    right: 0;
    bottom: 0;
    margin-right: 10px;
}
#msgicon .fab{
    color: #2fb0e4;
}
#header-area{
    width: 100%;
}
#header-area .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
}
#header-area .container a{
}
#header-area .container .logo-area{
    display: flex;
    align-items: center;
}
#header-area .container .logo-area .bstxt{
    margin-left: 10px;
}
#header-area .container .logo-area .bstxt a{
    color: #fff;
    text-decoration: none;
    font-family: open sans,sans-serif;
    font-size: 30px;
}
#header-area .container .hbmenu .hb{
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
    z-index: 1;
    left: 0;
}
#header-area .container .hbmenu .hb span{
    width: 32px;
    height: 3px;
    background-color: #fff;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
#header-area .container label span:first-child{
    transform: translateY(-10px);
}
#header-area .container label span:last-child{
    transform: translateY(10px);
}
/*隱藏checkbox*/
#header-area .container #menu-control{
    display: none;
}

#menu-control:checked ~ .hb span:nth-child(2){
    display: none;
}
#menu-control:checked ~ .hb span:first-child{
    transform:rotate(45deg);
    background-color: #000;
}
#menu-control:checked ~ .hb span:last-child{
    transform:rotate(135deg);
    background-color: #000;
}
#header-area .container .hbmenu .menu{
    border: 1px solid yellowgreen;
    position: fixed;
    right:-100%;
    transition:1.5s ;
}
#header-area .container .hbmenu nav{
    overflow: auto;
    background-color:#fff;
    text-align: center;
    padding-top: 100px;
    margin-top: -61px;
}

#header-area .container .hbmenu nav a{
    font-size: 30px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:#444;
    display: block;
    padding: 20px 20px;
}
#header-area .container .hbmenu #menu-control:checked ~ .menu {
    background-color:#fff;
    border: 1px solid red;
    right: 0px;
}

/* slides幻燈片 */
.slids{
    width: 100%;
}
.slids img{
    width: 100%;
}

/* container */
.container{
    border: 1px solid yellowgreen;
}
.container .item{ /*共*/
    padding: 20px 20px 60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container .item .txt p{
    font-size: 20px;
}
.container .pic{
    margin: 10px auto;
}
.container .idea .pic img{ 
    width: 50px;
}
.container .idea .h3 {
    font-size: 21px;
}
.container .idea h2{
    font-size: 23px;
    padding-top: 10px;
}
.container .idea .text p{
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.container .item .title{ /*共*/
    margin-bottom: 20px;
}

.container .implement .title h2{
    font-size: 24px;
    font-weight: bold;
}
.container .implement .txt p:nth-child(2){
    padding-top: 15px;
}
.container .hands-on img{
    width: 100px;
}
.container .item .txt h3{/*共*/
    font-size: 22px;
}
.container .item .txt p{ /*共*/
    padding-top: 15px;
    
}
.container .title h2{/*共*/
    font-size: 26px;
}
.container .training .txt{
    color: yellowgreen;
}